.App {
  text-align: center;
  background-color: #eeeeee;
  color: #333333;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.warn {
  font-size: 1.1rem;
  color: deeppink;
}

label > input {
display:none; /* アップロードボタンのスタイルを無効にする */
}
label {
  cursor: pointer;
  margin-bottom: 1rem;
  color: #333;
}

#fileUpload {
  position: center;
  white-space: nowrap;
  width: 12rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.1%;
  font-weight: 400;
  color: #333;
  line-height: 2.5rem;
  background-color: #ddd;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 2.5%;
  margin-bottom: 4.5%;
  padding-top: 0.7%;
  padding-bottom: 0.7%;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

#fileUpload:hover {
  background-color: #5ecfd1;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

#includeDeadlines {
  margin-top: 2%;
}