.Help {
  text-align: center;
  background-color: #eeeeee;
  color: #333333;
  height: 100vh;
}

.notice {
  margin-top: 2%;
}

.About {
  margin-top: 8%;
  padding-bottom: 2%;
}

p {
  margin: 2%;
}

a {
  color: #3fa5a7;
}

#warn {
  color: deeppink;
}