#sideMenu {
  text-align: left;
  margin-left: 3%;
}

.link {
  font-size: 2rem;
  margin-bottom: 3%;
}

Link {
  color: turquoise;
  text-decoration: none;
}


Link:visited {
  color: turquoise;
  text-decoration: none;
}
